<section class="intro">
  <p>
    Hello, this is Jason.  I am a born follower.  That's not a bad thing you know.  That is what most of you are.  You people.  Sheep.  But even
    followers have followers.  So, it's not all bad.  All kidding aside, I am a follower and following has taken me to a lot of cool places.
    I also, like most people, follow trends.  And in particular I am referring to programming trends.  You see, I have, for the most part of my
    IT life traveled the path of Microsoft.  Oh, I did have a Unix account at school, and took the required classes where I used assembly, Pascal
    and some others.  But after school, I began in a place called Content Management.
  </p>
  <p>
    I was first introduced to Microsoft's MS SQL and Visual Studio.  This was 2001, so we are talking like MS SQL 7.0 and Visual Basic 6.0.  Wow.  I am old.
    My job at the time sent me to a week long course in San Francisco lead by a Microsoft guy on something called Microsoft .NET Beta.  It was fun to be
    there with a bunch of other developers from my job for the week.  But I did not see .NET again for a few years.
  </p>
  <p>
    I'll pick this up.  I was in the COM world for a while then in about 2006 I believe, I took over a project that was written in C#.  I tried it out and liked it.
    Not too long after that, I re-wrote some projects I had built in Visual Basic .NET with C# and have been in C# ever since then.  Along the way I have primarily worked
    on web based solutions using the usual stack of MS SQL, Web API, C#, ASP .NET, MVC and lately AngularJS and Angular.  My following trends has taken me outside
    the landscape of Microsoft and I like it.  This site is actually a re-write of my first site http://gallowaytech.com using .NET Core 2.2 and Angular 5 at
    the time of this writing.
  </p>
  <p>
    So, that is the main point of this site, to allow me to re-write and have some fun.  Follow along if you want.
  </p>
</section>
